<section class="section-padding" style="background-color: #ff9933;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center reviews-heading">
        <h2 style="color:black">Follow us on Social Media</h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 reviews padding20">
          <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <a href="https://plus.google.com/117800121094938642555" target="_blank">
              <img src="../../../assets/images/review-google.png" class="img-responsive wow zoomIn" atl="Digital Lync G+">
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <a href="https://www.facebook.com/digitallync/" target="_blank">
              <img src="../../../assets/images/review-fb.png" class="img-responsive wow zoomIn" alt="Digital Lync Facebook">
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <a href="https://www.youtube.com/channel/UCFjwj6fXX3HM9DtDbnB83NQ" target="_blank">
              <img src="../../../assets/images/review-youtube.png" class="img-responsive wow zoomIn" alt="Digital Lync Youtube Channel">
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <a href="https://www.instagram.com/_digitallync_/" target="_blank">
              <img src="../../../assets/images/review-instagram.png" class="img-responsive wow zoomIn" alt="Digital Lync Instagram">
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <a href="https://twitter.com/digitallync/" target="_blank">
              <img src="../../../assets/images/review-twitter.png" class="img-responsive wow zoomIn" alt="Digital Lync Twitter">
            </a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <a href="https://www.linkedin.com/company/digital-lync/" target="_blank">
              <img src="../../../assets/images/review-linkedin.png" class="img-responsive wow zoomIn" alt="Digital Lync Linkedin">
            </a>
          </div>
        </div>
      </div>
  </div>
  </div>
  <div class="container" id="we-partner">
    <div class="row">
      <div class="col-md-12 text-center we-partner">
        <h2 class="heading" style="color:black">In Collaboration with</h2>
      </div>
    </div>
    <div class="row padding20">
      <!-- <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="../../../assets/images/google.png" class="img-responsive" alt="GOOGLE" title="GOOGLE">
      </div> -->
      <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../../../assets/images/iot-client-greaves.png" class="img-responsive" alt="greaves" title="greaves">
        </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="../../../assets/images/iot-client-hindustan-unilever-limited.png" class="img-responsive" alt="hindustan-unilever" title="hindustan-unilever">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="../../../assets/images/iot-client-godrej.png" class="img-responsive" alt="Godrej" title="Godrej">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="../../../assets/images/iot-client-eureka-forbes.png" class="img-responsive" alt="forbes" title="forbes">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="../../../assets/images/iot-client-luminous.png" class="img-responsive" alt="luminous" title="luminous">
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="../../../assets/images/internet-of-things-client-ub-group.png" class="img-responsive" alt="ub-group" title="ub-group">
      </div>
    </div>
  </div>
</section>