<section class="ourprocess section-padding text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 font-padding">
        <h2 class="color1caba0">Our Process</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 hidden-sm hidden-xs">
            <div class="procnum">1</div>
          </div>
          <div class="col-md-4 hidden-sm hidden-xs">
            <div class="procnum">2</div>
          </div>
          <div class="col-md-4 hidden-sm hidden-xs">
            <div class="procnum">3</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-xs hidden-sm padding-10">
            <img src="../../../assets/images/process.png" style="width: 70%" title="process">
          </div>
        </div>
        <div class="row padding-10">
          <div class="col-md-4 col-sm-4">
            <h4 class="color1caba0">Career Guidance</h4>
            <p>Our expert counsellors analyse your skills and match your skills to an industry trending technology and advise you
              of the many opportunities.</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <h4 class="color1caba0">Choose Course</h4>
            <p>You pick a course according to your passion and vision. We guide you through the process. Mentor you and help
              you through out your learning process. </p>
          </div>
          <div class="col-md-4 col-sm-4">
            <h4 class="color1caba0">Placement Assistance</h4>
            <p>We are a link to your awesome future! We will guide you all the way to your next job. We recognize your skills, enhance
              them and present you to the coolest companies.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>