
<section class="section-padding trending-section" style="">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center trending">
        <h2 class="color1caba0" style="color:black;font-weight: bold">Our Courses</h2>
      </div>
    </div>
  </div>
  <div class="container courses hidden-xs hidden-sm visible-md visible-lg">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="row">
          <div class="col-md-4 col-xs-4 col-sm-4 courses-col1 zoom">
            <!-- <div class="row">
              <div class="course-img">
                <figure class="figure wow fadeInUp">
                  <a routerLink="course/big-data-course-training-hyderabad" class="bigdata">
                    <img src="../../../assets/images/bigdata.svg" alt="Big Data Training in Hyderabad" title="Big Data">
                    <figcaption class="figure-caption">Big Data</figcaption>
                  </a>
                </figure>
              </div>
            </div> -->
            <div class="row">
              <div class="course-img">
                <figure class="figure wow fadeInUp">
                  <a routerLink="course/selfdriving-course-training-hyderabad" class="fullstack">
                    <img src="../../../assets/images/car.png" alt="selfdriving-car Development Training in Hyderabad" title="selfdriving-car">
                    <!-- <figcaption class="figure-caption">Full Stack</figcaption> -->
                  </a>
                </figure>
              </div>
            </div>
            <!-- <div class="row">
              <div class="course-img">
                <figure class="figure wow fadeInUp">
                  <a routerLink="course/blockchain-course-training-hyderabad" class="blockchain ">
                    <img src="../../../assets/images/blockchain.svg" alt="Blockchain Training in Hyderabad" title="Block Chain">
                    <figcaption class="figure-caption">BlockChain</figcaption>
                  </a>
                </figure>
              </div>
            </div> -->
          </div>
          <div class="col-md-4 courses-col2 col-xs-4 col-sm-4 zoom">
            <div class="row">
              <div class="course-img">
                <figure class="figure wow fadeInUp">
                  <a routerLink="course/flyingdrones-course-training-hyderabad" class="devops">
                    <img src="../../../assets/images/drone.png" alt="flyingdrones Course Training in Hyderabad" title="Flyingdrones" style="">
                    <!-- <figcaption class="figure-caption">Devops</figcaption> -->
                  </a>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="course-img">
                <figure class="figure wow zoomIn">
                  <a routerLink="courses" class="dlogo">
                    <img src="../../../assets/images/bot-eye.png" alt="Digital Lync" title="" width="140px">
                    <figcaption class="figure-caption"></figcaption>
                  </a>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="course-img">
                <figure class="figure wow fadeInUp">
                  <a routerLink="#" class="aws">
                    <img src="../../../assets/images/smarthome.png" alt="Aws" title="" style="">
                    <!-- <figcaption class="figure-caption">AWS</figcaption> -->
                  </a>
              </figure>
              </div>
            </div>
          </div>
          <div class="col-md-4 courses-col3 col-xs-4 col-sm-4 zoom">
            <!-- <div class="course-img">
              <figure class="figure wow fadeInUp">
                <a routerLink="course/data-science-course-training-hyderabad" class="datascience">
                  <img src="../../../assets/images/datascience.svg" alt="Data Science Training in Hyderabad" title="Data Science">
                  <figcaption class="figure-caption">Datascience</figcaption>
                </a>
              </figure>
            </div> -->
            <div class="row">
              <div class="course-img">
                <figure class="figure wow fadeInUp">
                  <a routerLink="course/robotics-course-training-hyderabad" class="dmarketing">
                    <img src="../../../assets/images/robotics.png" alt="Robotics Training in Hyderabad" title="Robotics" style="">
                    <!-- <figcaption class="figure-caption">Digital Marketing</figcaption> -->
                </a>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="course-img">
                <figure class="figure wow fadeInUp">
                  <a routerLink="course/iot-course-training-hyderabad" class="python">
                    <img src="../../../assets/images/globe.png" alt="Iot Training in Hyderabad" title="IoT" style="">
                    <!-- <figcaption class="figure-caption">Python</figcaption> -->
                  </a>
                </figure>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container courses media-style visible-sm visible-xs hidden-lg hidden-md text-center custom-caption-size">
    <div class="row text-center">
      <!-- <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/big-data-course-training-hyderabad" class="bigdata">
              <img src="../../../assets/images/bigdata.svg" alt="Big Data Training in Hyderabad" title="Big Data" class="img-responsive">
            </a>
            <figcaption class="figure-caption">Big Data</figcaption>

          </figure>
        </div>
      </div> -->
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/fullstack-course-training-hyderabad" class="fullstack">
              <img src="../../../assets/images/car.png" alt="Full Stack Development Training in Hyderabad" title="Full Stack" class="img-responsive">
              <!-- <figcaption class="figure-caption">Full Stack</figcaption> -->
            </a>
          </figure>
        </div>
      </div>
      <!-- <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/blockchain-course-training-hyderabad" class="blockchain">
              <img src="../../../assets/images/blockchain.svg" alt="Blockchain Training in Hyderabad" title="Block Chain"class="img-responsive">
              <figcaption class="figure-caption">BlockChain</figcaption>
            </a>
          </figure>
        </div>
      </div> -->


      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/devops-course-training-hyderabad" class="devops">
              <img src="../../../assets/images/drone.png" alt="Devops Training in Hyderabad" title="Devops" class="img-responsive">
              <!-- <figcaption class="figure-caption">DevOps</figcaption> -->
            </a>
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="courses" class="dlogo">
              <img src="../../../assets/images/bot-eye.png" alt="Ibot" title="Ibot" class="img-responsive">
              <figcaption class="figure-caption"></figcaption>
            </a>
          </figure>
        </div>
      </div>
      <!-- <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/aws-course-training-hyderabad" class="aws">
              <img src="../../../assets/images/smarthome.png" alt="Aws" title="Aws"class="img-responsive">
              <figcaption class="figure-caption">AWS</figcaption>
            </a>
          </figure>
        </div>
      </div> -->
<!-- 
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/data-science-course-training-hyderabad" class="datascience">
              <img src="../../../assets/images/datascience.svg" alt="Data Science Training in Hyderabad" title="Data Science"class="img-responsive">
              <figcaption class="figure-caption">Data Science</figcaption>
            </a>
          </figure>
        </div>
      </div> -->
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/digital-marketing-course-training-hyderabad" class="dmarketing">
              <img src="../../../assets/images/robotics.png" alt="Digital Marketing Training in Hyderabad"title="D Marketing" class="img-responsive">
              <!-- <figcaption class="figure-caption">Digital</figcaption> -->
            </a>
          </figure>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="course-img">
          <figure class="figure wow fadeInUp">
            <a routerLink="course/python-course-training-hyderabad" class="python">
              <img src="../../../assets/images/globe.png" alt="Python Training in Hyderabad" title="Python" class="img-responsive">
              <!-- <figcaption class="figure-caption">Python</figcaption> -->
            </a>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section-padding" style="">
  <div class="container block section-padding">
    <div class="row text-center">
      <h2 style="font-weight: bold">The Future</h2>
      <p>According to sources, by 2020, Internet of Things (IoT) will connect 55 million devices and by pulling in massive investments, over $6 Trillion. Now that the IoT industry is booming at a record level and is the next wave of Internet technologies that will inevitably change the way we live and work, and how business and manufacturing will be carried out worldwide, as well as create thousands of job opportunities for aspiring individuals.</p>
  
    </div>
  
  </div>
  </section>