<section class="projects" id="3" *ngIf="courseData.projects.length>0">
    <div class="container-fluid" id="project">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 text-center project-heading padding10" style="background-color:#4a90e2;color:white">
          <h2>Our Innovations</h2>
        </div>
      </div>
    </div>
    <div class="container section-padding">
      <div class="row padding10" *ngFor="let project of courseData.projects; let i = index;">
        <div class="col-md-12 col-xs-12 block" *ngIf="i%2 == 0">
          <div class="row Aligner">
            <div class="col-md-6 col-xs-12 Aligner-item">
              <div class="padding10">
                <h3>{{project.name}}</h3>
                <p>{{project.description}}</p>
              </div>
            </div>
            <div class="col-md-6 col-xs-12 hidden-xs">
              <div class="padding10">
                <img src="{{project.image}}" [alt]="project.imageAlt" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12  col-xs-12 block" *ngIf="i%2 !== 0">
          <div class="row Aligner">
            <div class="col-md-6 col-xs-12 hidden-xs">
              <div class="padding10">
                <img src="{{project.image}}" [alt]="project.imageAlt" class="img-responsive">
              </div>
            </div>
            <div class="col-md-6 col-xs-12 Aligner-item">
              <div class="padding10">
                <h3>{{project.name}}</h3>
                <p>{{project.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>