<section id="wetrainsection">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 wetrain">
                <h2>We Train with a Difference !</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <p style="padding-bottom: 30px;font-size:16px;">At Digital Lync, we build and redefine careers. We offer most comprehensive courses and programs for students
                    and working professionals. Our pedagogy creates a balance between fundamentals and the industry standards.
                    Choose us and excel in your career.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="row">
                        <div class="support">
                            <h4 class="font-weight-bold">Excel in Technology with Digital Lync !</h4>
                            <p>Digital Lync is the premier technology training hub providing quality education in the top notch
                                technologies demanded by IT giants. Excel in technology with Digital Lync!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 jobassurance">
                            <div class="margin-auto" style="width:87%">
                                <ul>
                                    <li>100 % Job assistance</li>
                                    <li>Live projects which gives enterprise exposure</li>
                                    <li>3 Years equivalent industry experience</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row ourunique">
                        <div class="col-md-12">
                            <div class="">
                                <div class="row signup">
                                    <div class="">
                                        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                                            <p style="font-size:19">Our Unique Features</p>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                                            <app-formmodal [page]="page" [buttonText]="buttonText"></app-formmodal>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                            <ul class="uniquefeatures">
                                                <li>Walkin
                                                    <span>
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                                </li>
                                                <li>Career Guidance
                                                    <span>
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                                </li>
                                                <li>Registration
                                                    <span>
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                                </li>
                                                <li>Training Sessions
                                                    <span>
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                                </li>
                                                <li>Real Time Projects
                                                    <span>
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                                </li>
                                                <li>Placement Assistance
                                                    <span>
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                                </li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>