<section class="hidden-xs hidden-sm">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12 font-padding">
          <h2 class="color1caba0">Our Branches at your convenience</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="carousel">

            <div class="hideLeft">
              <img src="../../../assets/images/srnagar.png">
            </div>
          
            <div class="prevLeftSecond">
              <img src="../../../assets/images/kukatpalli.png">
            </div>
          
            <div class="prev">
              <img src="../../../assets/images/malaysia.png">
            </div>
          
            <div class="selected">
              <img src="../../../assets/images/gachibowli.png">
            </div>
          
            <!-- <div class="next">
              <img src="../../../assets/images/sanfransisco.png">
            </div> -->
          
            <div class="next">
              <img src="../../../assets/images/dilsuknagar.png">
            </div>
          
            <div class="nextRightSecond">
              <img src="../../../assets/images/guntur.png">
            </div>
          
          </div>
          
          <div class="button">
            <button id="prev" class="padding" style="height:40px;width:40px;border-radius:50%;background-color:blue;color:#fff">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <button id="next" class="padding" style="height:40px;width:40px;border-radius:50%;background-color:blue;color:#fff">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>