.btn {
    width: 200px;
    height: 45px;
    color: white;
    //border-radius: 4px;
    background-image: linear-gradient(to left, #fe6277, #ff8149);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
  }

.eventCheck{
  width: 100%;
  height: 50px;
  color: white;
  background-image: linear-gradient(99deg, #6db7c1, #07cab2);
  border-style: none;
}
.statusComplete{
  background-image: linear-gradient(to left, #fe6277, #ff8149);
}
.bg{
  background-color: #f3fafb;
}
.bg1{
  background-color: #f3fafb;
}