<section class="section-padding dl-special text-center" style="background-color: black;color:white">
  <div style=" box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.08);">
    <div class="container">
      <!-- <div class="wrapper">   -->
          <div class="row">
        <div class="col-md-12">
        <div class="dl">
          <img src="/assets/images/ibotlogo-new-white.png">
        </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="margin-top: -50px;">
            <!-- <h2 class="color1black">WHY  EVERYONE  <span class="love"style="padding: 10px;"><img src="/assets/images/love.png"></span>THIS ?</h2> -->
            <h2 class="color1black" style="font-weight: bold">YOUR FUTURE WITH US</h2>
         
          </div>
        </div>
      <!-- </div> -->
      <div class="row whydltSpl">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="../../../assets/images/the-best-trainers.png" alt="The Best Trainers" title="The Best Trainers" height="60px" width="60px">
          <h4 style="color:#f7941e;">Hardware Access</h4>
          <p>Experienced Faculty will train you on pre-built real IoT devices designed by iBot itself. In-depth learning on each aspect of the device.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="../../../assets/images/online-classes1.png" alt="Online Classes" title="Online Classes"  height="60px" width="60px;">
          <h4 style="color:#f7941e">Practical Training</h4>
          <p>Our online experience is as good as our in class experience.Along will In-class training, every student will have online access and personal interaction with faculty.
          </p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="../../../assets/images/we-are-commited1.png" alt="We are Committed" title="We Are Committed" height="60px" width="60px">
          <h4 style="color:#f7941e">Classroom Excellence</h4>
          <p>Taught only by the experts along with interactive group and individual sessions for the students to impart maximum command over the subject.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="../../../assets/images/really-affordable1.png" alt="Really Affordable"title="Really Affordable" height="60px" width="60px">
          <h4 style="color:#f7941e">Commitment</h4>
          <p>Our motto is to perfectly blend your student life into a professional career. We will provide you personal guidance through the entire course. </p>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="margin-top: 50px">
      <div class="row">
        <div class="col-md-12">
          <h2 class="color1black" style="font-weight: bold">Why should you Choose us</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
           
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-bottom border-right">
            <figure class="figure">
              <img src="../../../assets/images/1-1-interaction1.png" alt="one to one interaction" title="One To One Interaction" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">1 to 1 Interaction</figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-bottom border-right">
              
            <figure class="figure">
              <img src="../../../assets/images/trainers1.png" alt="Trainers 150+" title="Trainers" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">Great History</figcaption>
            </figure>
            
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-bottom ">
           
            <figure class="figure">
              <img src="../../../assets/images/24-7-support.png" alt="24/7 Support" title="24/7 Support" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">24/7 Support</figcaption>
            </figure>
           
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-right">
            <figure class="figure">
              <img src="../../../assets/images/international-standards1.png" alt="International Standards" title="International Standards" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">International Curriculum</figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 border-right">
            <figure class="figure">
              <img src="../../../assets/images/corporate-environment1.png" alt="Corporate Environment" title="Corporate Environment" class="how-are-we-different-images">
              <figcaption class="figure-caption font-padding color1black">Futuristic</figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 padding20 ">
            <figure class="figure">
              <img src="../../../assets/images/great-tech-infrastructure1.png" alt="Great Tech Infrastructure" title="Great Tech Infrastructure" class="how-are-we-different-images" title="Great IT Technologies">
              <figcaption class="figure-caption font-padding color1black">Great Infrastructure</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>